@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0b0b0b;
  --medium-light-grey: #c5c5c5;
  --light-grey: #eeeeee
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0b0b0b;
    --medium-light-grey: #c5c5c5;
    --light-grey: #eeeeee
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
