@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0b0b0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #0b0b0b;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
